<nav>
  <ul>
    <li>
      <a href="/add">Add Score</a>
    </li>
    <li>
      <a href="/recent-scores">Recent Scores</a>
    </li>
    <li>
      <a href="/highscores">High Scores</a>
    </li>
    <li>
      <a href="http://zty.pe.com">Ztype the game</a>
    </li>
  </ul>
</nav>
