body {
  color: #FFF;
  background-color: #000;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


#dashboard {
  width: 100px;
}
